@model EmerCar.Models.Login

<div style="height: 422px; margin-left: 941px; width: 304px;">
    <p>SignIn</p>
    @using (Html.BeginForm("Login", "Login"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.email)
            @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.password)
            @Html.TextBoxFor(m => m.password, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">SignIn</button>

    }
    <br />
    @using (Html.BeginForm("Index", "PasswordReset"))
    {
        @Html.ActionLink("Forgot Password?!", "Index", "PasswordReset")
    }
    <br />
    @using (Html.BeginForm("Index", "Registration"))
    {
        <p>If you don't have account</p>
        <button type="submit" class="btn btn-primary">SignUp</button>
    }
</div>







